Source: libreelec-alsa-utils
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: misc
Priority: optional
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               dh-exec,
               lintian,

Package: libreelec-alsa-utils
Architecture: all
Section: misc
Priority: optional
Depends: dthelper,
         progress,
         ${misc:Depends},
Description: ALSA utils from LibreELEC
 ALSA utils from LibreELEC, providing ALSA routing in user space.
